* {background-color: mistyrose;}
* {color: rosybrown;}
header {font-size: xx-large; font-weight: bolder; text-decoration: underline; font-family: 'Courier New', Courier, monospace; }
h2 {background-color: lightpink; color: mistyrose; text-decoration: none; padding: 15px; font-family: 'Courier New', Courier, monospace;}
* {font-family: "Rubik Mono One", monospace;}